@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    box-sizing: border-box;

}

:root {
    --axis1: 1; 
    --axis2: 0; 
    --axis3: -1; 
  }

body {
    background: 
    linear-gradient(45deg, #fcd5ce, #ffffff 70.71%);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin:0;
}

p {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.dice-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    
}

.choose-a-dice {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 110px;
    height: 215px;
    margin: 10px;
}

.dice {
    width: 100px;
    height: 100px;
    margin-top: 0;

    border: none;
    border-radius: 50%;
    font-family: inherit;
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

    perspective: 800px;

}


.animation{
    animation: animate-cube 1s;

  }
 
.panel--grey     { background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); }
.panel--active  { background: radial-gradient(circle, rgba(63,94,251,1)0%, rgba(75,251,63,1)100%); }
.panel--red  { background: rgb(218, 7, 7); }
.panel--blue  { background: rgb(30, 26, 253); }
.panel--yellow  { background: rgb(223, 236, 33); }

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 0, 360deg);
  }
/*
######################################
Scianki Kostka K4
*/

.cube_k4__face {
    position:absolute;
    top:0;
    left:0;
    width:100px; 
    height: 100px;
    clip-path:polygon(50% 13%, 100% 100%, 0% 100%); 

    transform-style:preserve-3d;

  }

.cube_k4__face--front  { 
    transform-origin: center bottom 0;
 }
.cube_k4__face--right  { 
    transform-origin: center bottom 0;
    transform: rotateX(-70.5deg);
}
.cube_k4__face--back   { 
    transform-origin: left bottom 0;
    transform:  rotateZ(120deg) translateX(-100px) rotateX(-70.5deg);
}
.cube_k4__face--left   { 
    transform-origin: right bottom 0;
    transform: rotateZ(60deg) rotateX(-109.5deg);
}

/*
#######################################
Scianki Kostka K6
*/

.cube_k6__face {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    /* backface-visibility: hidden */
  }

.cube_k6__face--front  { 
    transform: translateZ(40px) rotateX(0deg);
 }
.cube_k6__face--right  { 
    transform: translateX(40px) rotateY(90deg);
}
.cube_k6__face--back   { 
    transform: translateZ(-40px) rotateY(180deg);
}
.cube_k6__face--left   { 
    transform: translateX(-40px) rotateY(-90deg);
 }
.cube_k6__face--top    { 
    transform: translateY(-40px) rotateX(90deg);
}
.cube_k6__face--bottom { 
    transform: rotateX(-90deg) translateZ(40px);
 } 


 /*
#######################################
Scianki Kostka K8
*/
.cube_k8__face {
    position:absolute;
    top:0;
    left:0;
    width:100px; 
    height: 100px;
    clip-path:polygon(50% 13%, 100% 100%, 0% 100%); 

    transform-style:preserve-3d;

    /* backface-visibility: hidden */

  }

.cube_k8__face--front  { 
    transform: translateZ(-40px) ;
 }
.cube_k8__face--right  { 
    transform-origin: right bottom 0;
    transform: translateZ(-40px) rotateZ(60deg) rotateX(-70.53deg) ;
}
.cube_k8__face--back   { 
    transform-origin: center bottom 0;
    transform: translateZ(-40px) rotateX(-109.47deg);
}
.cube_k8__face--left   { 
    transform-origin: left bottom 0;
    transform: translateZ(-40px) rotateZ(-60deg) rotateX(-70.53deg);
 }
.cube_k8__face--top    { 
    transform-origin: center 13px 0;
    transform: translateZ(-40px) rotateX(70.53deg) ;
}
.cube_k8__face--bottom-1 { 
    transform-origin: center bottom 40px;
    transform: translateZ(10px)rotateZ(-120deg) rotateX(70.53deg) translateX(24px) translateZ(50.5px) translateY(-13px);
 } 
 .cube_k8__face--bottom-2 { 
    transform-origin: center bottom 40px;
    transform: translateZ(10px) rotateZ(120deg) rotateX(70.53deg) translateX(-24px) translateZ(50.5px) translateY(-13px);
 } 
 .cube_k8__face--bottom-3 { 
    transform-origin: center center 0;
    transform: translateZ(40px) rotateZ(180deg) translateY(-41px);
 } 

 /* 
#######################################
  */


.result {
    position: absolute;
    z-index: 100;
    font-size: 32px;
    pointer-events: none;
}


img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#roll_dice {
    background-color: #e63946;
    width: 160px;
    height: 50px;
    border-radius: 30px;
    padding: 5px 10px;
    border: none;
    color: #fff;
    font-size: inherit;
}


#roll_dice:active{
    transform: scale(0.98);
}

@keyframes animate-cube{
    from{
       transform: rotate3d(0, 1, 0, 10deg) 1s;
    }to{
       transform: rotate3d(0, 1, 0, 0deg);
    }
   
}
