@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    box-sizing: border-box;

}

:root {
    --axis1: 1; 
    --axis2: 0; 
    --axis3: -1; 
  }

body {
    background: 
    linear-gradient(45deg, #fcd5ce, #ffffff 70.71%);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin:0;
}

p {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.dice-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    
}

.choose-a-dice {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 110px;
    height: 215px;
    margin: 10px;
}

.dice {
    width: 100px;
    height: 100px;
    margin-top: 0;
    background-color: #a8dadc;
    border: none;
    border-radius: 20px;
    font-family: inherit;
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

    perspective: 400px;

}

.cube__face {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    /* backface-visibility: hidden */
  }

.animation{
    animation: animate-cube 1s;

  }

.panel--grey     { background: hsla(0, 0%, 61%, 1); }
.panel--active  { background: hsla(93, 100%, 76%, 1); }


.cube__face--front  { 
    transform: translateZ(50px) rotateX(0deg);
 }
.cube__face--right  { 
    transform: translateX(50px) rotateY(90deg);
}
.cube__face--back   { 
    transform: translateZ(-50px) rotateY(180deg);
}
.cube__face--left   { 
    transform: translateX(-50px) rotateY(-90deg);
 }
.cube__face--top    { 
    transform: translateY(-50px) rotateX(90deg);
}
.cube__face--bottom { 
    transform: translateY(50px) rotateX(-90deg);
 } 

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotate3d(var(--axis1), var(--axis2), var(--axis3), 360deg);

  }




.dice:hover {
    box-shadow: 0 0 5px #457b9d;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#roll_dice {
    background-color: #e63946;
    width: 160px;
    height: 50px;
    border-radius: 30px;
    padding: 5px 10px;
    border: none;
    color: #fff;
    font-size: inherit;
}


#roll_dice:active{
    transform: scale(0.98);
}

@keyframes animate-cube{
    from{
       transform: rotate3d(0.5, 1, 0, 120deg) 1s;
    }to{
       transform: rotate3d(0, 1, 0, 0deg);
    }
   
}
